<!--parent body tag coming from layout -->

<img class="background-image" src="/images/2731.jpg">
<div class="container">
    <div class="profile-content">
        <h1>Your profile</h1>
        <a class="profile-btn" href="/journeypage">Start your journey</a>
        <a class="profile-btn" href="/items/{{this._id}}/edit">Edit your journey</a>
        <a class="profile-btn" href=" ">Delete your journey</a>
   <form action="/logout" method="post">
            <button class="logout-btn" type="submit">Logout</button>
        </form>
   </div>
   
<div>
        {{#each allItems}}
        <p>{{this.spacesuitQuantity}}</p>
        <p>{{this.foodQuantity}}</p>
        <p>{{this.oxygenQuantity}}</p>
        <p>{{this.fuelQuantity}}</p>
        <p>{{this.solarpanelQuantity}}</p>
        <p>{{this.sproutQuantity}}</p>
        <p>{{this.waterbottleQuantity}}</p>
        <!-- <a href="/drones/{{this._id}}/edit">edit drone</a>
    <form action="/drones/{{this._id}}/delete" method="post">
        <button type="submit">delete drone</button>
    </form> --->
        {{/each}}
    </div>
        </div>