<!--parent body tag coming from layout -->

<img class="background-image" src="/images/2731.jpg">
<nav>
    <form action="/logout" method="post">
        <button class="navbar-logout-btn" type="submit">Logout</button>
    </form>
</nav>
<div class="container">
    <div class="">
        <h1>Your profile</h1>
        <a class="profile-btn" href="/journeypage">Start your journey</a>
        <p class="profile-btn">See your items: </p>
        <p>Spacesuit quantity: {{currentItem.spacesuitQuantity}}</p>
        <p>Food quantity: {{currentItem.foodQuantity}}</p>
        <p>Oxygen quantity: {{currentItem.oxygenQuantity}}</p>
        <p>Fuel quantity: {{currentItem.fuelQuantity}}</p>
        <p>Solar panel quantity: {{currentItem.solarpanelQuantity}}</p>
        <p>Sprout quantity: {{currentItem.sproutQuantity}}</p>
        <p>Water Bottle: {{currentItem.waterbottleQuantity}}</p>
        <a class="profile-btn" href="/items/{{currentItem._id}}/edit">Edit items</a>
        <form action="/item/{{currentItem._id}}/delete" method="post">
            <button class="profile-btn" type="submit">Delete items</button>
        </form>
    </div>

    {{#if error}}
    <h2>{{error}}</h2>
    {{/if}}
</div>